.ui.text.container
  .ui.segments( v-if="match" )
    .ui.segment
      h2.ui.header {{ match.desc }}
    .ui.segment
      h3.ui.header 階段
      p {{ match.status }}
    .ui.segment
      h3.ui.header 注意事項
      p {{ match.someText }}
    .ui.segment(v-if="match.showInput")
      .ui.form
        input(v-for="point of points" type="text" v-model="point.value")
    .ui.segment.left.aligned(v-if="match.showGreenButton")
      a(@click="clickButton" ).ui.labeled.icon.green.button.spaced
        i.send.icon
        | {{ match.buttonText }}
    .ui.segment.center.aligned(v-if="match.showRedButton")
      a(@click="clickButton" ).ui.labeled.icon.red.button.spaced
        i.send.icon
        | {{ match.buttonText }}
    .ui.segment.right.aligned(v-if="match.showBlueButton")
      a(@click="clickButton" ).ui.labeled.icon.blue.button.spaced
        i.send.icon
        | {{ match.buttonText }}
