head
  title Magia Night
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" type="text/css" href="semantic/semantic.min.css")
  style(type='text/css').
    /* geo-regular - latin */
    @font-face {
      font-family: 'Geo';
      font-style: normal;
      font-weight: 400;
      src: url('/static/fonts/geo-v9-latin-regular.eot'); /* IE9 Compat Modes */
      src: local('Geo'), local('Geo-Regular'),
      url('/static/fonts/geo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/static/fonts/geo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('/static/fonts/geo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('/static/fonts/geo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/static/fonts/geo-v9-latin-regular.svg#Geo') format('svg'); /* Legacy iOS */
    }

    /* lato-regular - latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: url('/static/fonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
      src: local('Lato Regular'), local('Lato-Regular'),
      url('/static/fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/static/fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('/static/fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('/static/fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/static/fonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
    }
    /* lato-700 - latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      src: url('/static/fonts/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
      src: local('Lato Bold'), local('Lato-Bold'),
      url('/static/fonts/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/static/fonts/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('/static/fonts/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
      url('/static/fonts/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/static/fonts/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
    }
    /* lato-700italic - latin */
    @font-face {
      font-family: 'Lato';
      font-style: italic;
      font-weight: 700;
      src: url('/static/fonts/lato-v14-latin-700italic.eot'); /* IE9 Compat Modes */
      src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
      url('/static/fonts/lato-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/static/fonts/lato-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('/static/fonts/lato-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
      url('/static/fonts/lato-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/static/fonts/lato-v14-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
    }
    /* lato-italic - latin */
    @font-face {
      font-family: 'Lato';
      font-style: italic;
      font-weight: 400;
      src: url('/static/fonts/lato-v14-latin-italic.eot'); /* IE9 Compat Modes */
      src: local('Lato Italic'), local('Lato-Italic'),
      url('/static/fonts/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/static/fonts/lato-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('/static/fonts/lato-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
      url('/static/fonts/lato-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/static/fonts/lato-v14-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
    }