.ui.container
  .ui.three.item.menu
    a.item( v-link="{path: '/admin/match'}" ) Match
    a.item( v-link="{path: '/admin/matches'}" ) Matches
    a.item( v-link="{path: '/admin/competition'}" ) Competition

  .ui.divider

  router-view


