.ui.text.container
  table.ui.celled.table.selectable.pointer
    thead
      tr
        th Description
    tbody
      tr( v-for="competition of competitions" @click="clickCom(competition._id)",
        :class="{ positive: competition.active }" )
        td.force-pointer {{ competition.desc }}
      tr
        td.center.aligned
          .ui.form
            .field
                label 新比賽敘述
                input(type="text" v-model="newDesc")
            a(@click="clickNewDesc").ui.right.labeled.icon.primary.button.spaced
              i.send.icon
              | 新增