.ui.text.container
  table.ui.celled.table.selectable.pointer(v-if="matches")
    thead
      tr
        th Key
        th 敘述
        th 狀態
        th 時間
        th 分數
    tbody
      tr( v-for="match of matches" v-link="{ name: 'match', params: { key: match.key }}")
        td.force-pointer {{ match.key }}
        td.force-pointer {{ match.desc }}
        td.force-pointer {{ match.status }}
        td.force-pointer
          div(v-for="timestamp of match.timestamps")
            | {{timestamp.status}}: {{timestamp.time | toFormattedTime 'MM/DD HH:mm:ss'}}
        td.force-pointer
          div(v-for="point of match.points") {{point}}
