.ui.text.container
  .ui.segments
    .ui.segment(v-if="players")
      .ui.form(autocomplete="new-password")
        .field
          label
            | 進攻方
          .ui.fluid.selection.dropdown(id="attacker")
            input(type="hidden" v-model="attacker", autocomplete="new-password")
            i.dropdown.icon
            .default.text
              | 進攻方
            .menu
              //-.item(data-value="")
                | 進攻方
              .item(v-for="player of players", data-value="{{player._id}}", )
                | {{player.meta.id}} {{player.meta.name}}
        .field
          label
            | 防守方
          .ui.fluid.selection.dropdown(id="defender")
            input(type="hidden" v-model="defender", autocomplete="new-password")
            i.dropdown.icon
            .default.text
              | 防守方
            .menu
              //-.item(data-value="")
                | 防守方
              .item(v-for="player of players", data-value="{{player._id}}")
                | {{player.meta.id}} {{player.meta.name}}
    .ui.segment(v-if="players")
      a(@click="clickSubmit()").ui.right.labeled.icon.primary.button.spaced
        i.send.icon
        | 送出
    .ui.segment(v-if="result")
      .ui.header
        | Key
      p {{result}}