<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    html {
      scroll-behavior: smooth;
      height: 100%;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }

    body {
      height: 100%;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      justify-content: center;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input {
      margin-top: -1px;
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-signin input:first-of-type {
      margin-top: 5px;
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }

    .form-signin input:last-of-type {
      margin-top: -1px;
      margin-bottom: 10px;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .main_div {
      align-items: center;
      height: 100%;
      display: flex;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .rule_div {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .rule_text {
      width: 50%;
      min-width: 300px;
      max-width: 650px;
      margin: 0 auto;
    }
  </style>
</head>

<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="https://magireco.moe/resources/assets/head_logo.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">{{ msg }}</h1>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 Magia Night 排位赛</p>
  </form>
</body>

</html>