#login-modal.ui.modal
  i.close.icon
  .header User Login
  .content
    #login-form.ui.form
      .field
        label UserName
        input(name="username" placeholder="username" type="text")
      .field
        label Password
        input(name="password" placeholder="password" type="password")
      .ui.error.message
  .actions
    .ui.positive.right.labeled.icon.button
      | Login
      i.send.icon
